*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.navbar_conatiner{
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 20px;
}
/* .logo_conatiner img{
    height: 40px;
    width: 80px;
}
.logo_conatiner img:hover{
    transform: scale(1.1);
} */
.logo{
    font-size: 25px;
    color: white;
    transition: 0.3s ease;
    text-decoration: none;
}

.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    
}

.navbar a{
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.3px;
    font-weight: 700;
    margin-left: 15px;
    color: whitesmoke;
}

.navbar a:hover{
    border-bottom: 4px solid #c24412;
    color: #f25517;
    
}

.contact_me button{
    background-color: rgb(249, 249, 249);
    padding: 6px;
    border-radius: 10px ;
    font-size: medium;
}

.contact_me button:hover{
    background-color: #f25517;
}

.portfolio, .about_me, .form_conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.form_conatiner{
    padding: 30px 0;
}

.content, .about_content{
    height: 100%;
    width: 50%;
    padding: 30px;
}

.content h3{
    font-size: 42px;
}

.content h1{
    font-size: 62px;
    line-height: 1;
}
/* .content h1, .about_me h2{
    margin: 3px 0;
} */


.content p, .about_me p{
    margin: 10px 0;
    font-weight: 400;
}

.hire_button button, .about_me button{
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: medium;
    font-weight: 600;
    background-color: #c24412;
}

.hire_button button:hover{
    background-color: whitesmoke;
}

.image img, .image_about img{
    height: 250px;
}

.about_content h2, #contactme h1, #project h1, #education h1{
    font-size: 42px;
}

.about_content h3{
    font-size: 57px;
}

.about_me button:hover{
    background-color: whitesmoke;
    color: #f25517;
}

#aboutme{
    background-color: black;
    color: white;
}

.contact_me h1, #project h1, #education h1{
    text-align: center;
    padding: 40px;
}

.input_form{
    width:500px;
    border-radius: 10px;
}

input{
    padding: 15px;
    margin: 10px;
}

.messageInput{
    width:500px;
    height: 100px;
    border-radius: 10px;
}

#contactme{
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
}

.form_button{
    font-weight: 600;
    margin-left: 180px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.form_button:hover{
    background-color: white;
    color: black;
}

.footer_container{
    background-color: rgb(8, 8, 8);
    height: 100px;
    text-align: center;
    padding: 20px;
}
.icon_container i{
    margin: 20px;
    border-color: #f25517;
    border-radius: 20px;
}

.icon_container a:hover{
    color: #f25517;
}

.footer_list a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    
}
.footer_list a:hover{
    border-bottom: 4px solid #c24412;
    color: #f25517;
    
}


.cover{
    height: 850px;
    display: flex;
    flex-wrap: wrap;
}

.cover h3{
    color: #f25517;
    text-align: center;
}


.ecommerce , .cardeal, .learn, .form{
   color: white;
   padding-left: 20px;
margin: 20px 120px;
height: 350px;
 width: 350px;
 background-color: rgb(4, 4, 4);
 border-radius: 10px;
 
}

.cover p{
    margin: 10px;
    font-size: small;
    font-weight: 400;   
}

.ecommerce:hover , .cardeal:hover, .learn:hover, .form:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}

.cover span{
    margin: 15px 3px 15px 3px;
    border:  solid white;
    border-radius: 5px;
    line-height: 30px;
}


.cover img{
    margin-top: 5px;
    height: 120px;
    width: 300px;padding-top: 2px;
    border-radius: 10px;
}

#education {
    background-color: rgb(0, 0, 0);
    height: 800px;
    color: white;
}

.mca, .bca{
    margin: 10px 60px;
    padding: 20px;
    height: 300px;
    display: flex;
    color: white;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 10px;
}

.mca img, .bca img{
    height: 230px;
    width: 400px;
    margin: 0 100px;
    border-radius: 10px;
}

.mca h2, .bca h2{
    text-transform: uppercase;
    padding: 20px 0;
}

.mca span, .bca span{
    color: orangered;
}


@media screen and (min-width: 768px){
    .navbar_conatiner {
        padding: 20px 40px;
        
    }
}